.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 36px 60px 20px;
  min-height: calc(100vh - 60px);
}

.emptyStateSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recentDocumentsTitle {
  font-size: 1.5rem;
  color: #21232a;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.emptyStateSubMessage {
  color: #737a82;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.36px;
  padding: 88px 0;
}

.recentDocumentPrompt {
  border-radius: 12px;
  margin-bottom: 20px;
}

.recentDocumentPromptText {
  color: #21232a;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.recentDocumentPromptText strong {
  color: #4787ff;
  font-weight: 700;
}

.documentInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  border-radius: 12px;
  border: 2px solid #e3edff;
  background: #edf3ff;
  padding: 32px;
}

.documentInfoProgressContainer {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.documentInfoProgressText {
  color: #4b4d55;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
  width: 52px;
}

.documentInfoContent {
  display: flex;
  align-items: center;
}

.progressPercent {
  color: #4b4d55;
  text-align: right;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
  width: 52px;
}

.documentInfoImageText {
  color: #21232a;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.4px;
  padding-left: 12px;
}

.documentInfoButton {
  padding: 10px 16px;
  border-radius: 8px;
  background: #4787ff;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  line-height: 150%;
  letter-spacing: -0.32px;
  cursor: pointer;
  transition: all 300ms;
  margin-left: auto;
}

.documentInfoProgressValue {
  border-radius: 100px;
  background: #fff;
  display: flex;
  height: 12px;
  border-radius: 100px;
  align-items: center;
  flex-shrink: 0;
  flex: 1;
}

.documentTableWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 20px;
}

.emptyStatePrompt {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.emptyStatePromptTitle {
  color: #21232a;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.emptyStatePromptBox {
  background-color: #f0f4fd;
  border-radius: 12px;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  min-height: 200px;
  justify-content: center;
}

.emptyStatePromptText {
  color: #737a82;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.36px;
}

.emptyStatePromptButton {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: #4787ff;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
}

.documentsTable {
  width: 100%;
}

.tableHeader {
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.tableHeaderCell {
  color: #737a82;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
  text-align: center;
  padding-bottom: 8px;
}

.tableLastHeaderCell {
  color: #737a82;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
  text-align: left;
  padding-bottom: 8px;
}

.tableBodyContainer {
  width: 100%;
}

.tableRow {
  display: table-row;
  width: 100%;
  border-bottom: 1px solid #dee3eb;
}

.tableCell {
  color: #474952;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  padding: 20px 0;
  vertical-align: middle;
}

.tableCellInfo {
  text-align: left;
  padding: 20px 0;
  vertical-align: middle;
}

.tableCellInfoText {
  color: #474952;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
  text-align: left;
}

.tableCell:first-child {
  padding-left: 32px;
  padding-right: 16px;
}

.tableCellText {
  color: #474952;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tableCellContent {
  align-items: center;
}

.tableCellIcon {
  text-align: right;
  padding: 20px 0;
  vertical-align: middle;
  padding-right: 25px;
}

.tableCellIconImage {
  cursor: pointer;
}

.tableCellIconImage:hover {
  opacity: 0.5;
}

.tableContainer {
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin-top: 24px;
  padding: 16px 0;
}

.paginationPages {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageButton {
  border: none;
  background: none;
  cursor: pointer;
}

.pageBtn {
  font-size: 16px;
  color: #6b7280;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
}

.pageBtn:hover:not(.pageBtnDisabled) {
  border-color: #4787ff;
  color: #4787ff;
  background: #f0f4fd;
}

.pageBtnActive {
  color: #4787ff;
}

.pageBtnDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
