.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.content {
  width: 100%;
  display: flex;
}

.contentRightCenter {
  width: 50%;
  display: flex;
  margin-left: 36px;
}

.contentLeftTextImage {
  width: 572px;
  height: 394px;
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentLeftText {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.contentLeft {
  padding-left: 36px;
  width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #21232a;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.64px;
  text-transform: capitalize;
}

.description {
  color: #4b4d55;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

.contentRight {
  padding-right: 36px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.contentRightImage {
  width: 572px;
  height: 394px;
  border-radius: 20px;
  background: #d9d9d9;
}
