.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
}

.content {
  display: flex;
  height: calc(100% - 61px);
  overflow-y: auto;
  width: 100%;
}

.sidebar {
  width: 226px;
  padding: 26px 12px;
  background: #f0f4fa;
  overflow-y: auto;
  flex-shrink: 0;
}

.docUnitId {
  display: flex;
  width: calc(100% - 226px);
  flex-direction: column;
  gap: 24px;
  padding-top: 36px;
  padding-inline: 120px;
  overflow-y: auto;
}

.docUnitIdItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sourceText {
  color: #21232a;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.translatedText {
  color: #4b4d55;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}
