.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 120px 0;
}

.contentContainer {
  box-sizing: border-box;
  width: calc(100% - 72px);
  height: 591px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding-left: 36px;
  border-radius: 40px;
  border: 1px solid #dee3eb;
  background: #fff;
}

.contentLeftContainer {
  width: 40%;
}

.title {
  color: #21232a;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.8px;
  padding-bottom: 20px;
}

.button {
  margin-top: 20px;
}

.description {
  color: #4b4d55;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.36px;
  margin-top: 78px;
}

.contentRightContainer {
  position: relative;
  flex: 1;
  height: 100%;
}

.secondMainScreenImage {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  object-fit: cover;
  object-position: right;
}
